$Dark-Mode-Elements: hsl(209, 23%, 22%);
$Dark-Mode-Background: hsl(207, 26%, 17%);
$Dark-Mode-Text: hsl(0, 0%, 100%);


$Light-Mode-Text: hsl(200, 15%, 8%);
$Light-Mode-Input: hsl(0, 0%, 52%);
$Light-Mode-Background: hsl(0, 0%, 98%);
$Light-Mode-Elements: hsl(0, 0%, 100%);

$font-family: 'Nunito Sans', sans-serif;


//TODO: fix themes if else statemtes, mixin, map sass uwu 

@mixin card ( $theme: '' ){

    display: flex;
    justify-content: center 
}
html{
    @include card ( $theme: dark); 
    height: 100%;
    width: 100%;
}
body{
    font-family: $font-family;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0; 
    padding: 0;
    border: 0;
    height: 100%;
    width: 100%;
    
}

.App-light{
    background-color: $Light-Mode-Background;
    color: $Light-Mode-Text;
    
}
.App-dark{
    background-color: $Dark-Mode-Background;
    color: $Dark-Mode-Text;
}
.light{
    background-color: $Light-Mode-Elements;
    color: $Light-Mode-Text;
}
.dark{
    background-color: $Dark-Mode-Elements;
    color: $Dark-Mode-Text;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:  0px 5px 5px hsl(207, 26%, 13%);
   
    &__title{
        padding: 15px 50px; 
        font-size: 16px;
        font-weight: 800;
    }
    &__darkMode{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 15px 50px;
         button {
            border: none; 
            background-color: transparent;
            cursor: pointer;
            padding: 5px; 
            font-family: $font-family;
            font-size: 14px;
            font-weight: 600;
         }
         &__light{
            color: $Light-Mode-Text;
         }
         &__dark{
            color: $Dark-Mode-Text;
            display: flex;
            align-items: center;
            a{
                padding: 0px 10px; 
            }
         }

    }

}
input{
   width: 350px; 
   padding: 15px; 
   border-radius: 4px;
   box-shadow:  0px 0px 5px 5px hsl(207, 26%, 13%);
   border: 0;
}
select{
    border: none; 
    width: 160px;
    border-radius: 5px;
    padding: 15px;
}

.main-light{
    height: 100%;
    &__search{
        padding: 35px 50px; 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }  
    &__input{
        color: $Light-Mode-Text;
        background-color: $Light-Mode-Background;
    }
    ::placeholder{
        color: $Light-Mode-Input;
        font-family: $font-family;
        font-size: 14px;
    }
    &__select{
        color: $Light-Mode-Text;
        background-color: $Light-Mode-Background;
        font-family: $font-family;
        font-size: 14px;
        padding: 5px 10px;
        
    }
}

.main-dark{
    height: 100vw;
    // height: 100%;
    background-color: $Dark-Mode-Background;
    &__search{
        padding: 35px 50px; 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__input{
        background-color: $Dark-Mode-Elements;
        color: $Dark-Mode-Text; 
    }
    ::placeholder{
        color:  $Dark-Mode-Text;
        font-family: $font-family;
        font-size: 14px;
    }
    &__select{
        background-color: $Dark-Mode-Elements;
        color: $Dark-Mode-Text; 
        font-family: $font-family;
        font-size: 14px;
        padding: 10px 15px;
        
    }
    &__back{

        margin: 50px; 
        width: 125px;
        &__button{
            background-color: $Dark-Mode-Elements;
            padding: 10px 25px; 
            cursor: pointer;
            display: flex;
            align-items: center;
            border-radius: 5px;
            box-shadow: 0px 0px 5px 5px hsl(207, 26%, 13%);
            a{
                padding: 0px 15px; 
            }
        }
    }
    &__singleInfo{

        display: flex; 
        justify-content: flex-start;
        height: 40%;
        
        &__img{
            margin: 50px;
            box-shadow: 0px 0px 5px 5px hsl(207, 26%, 13%);
            width: 600px;
            height: 375px;

            img{
                width: 100%;
                max-height: 100%;
            }
        }
        &__description{
            padding: 25px;
            margin: 50px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        &__title{
            font-weight: 800;
        }
        &__Info{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            &__item{
                font-size: 15px;
                padding: 5px 0px; 
                
                span{
                    font-weight: 600;
                }
            }
        }



        &__borders{
            margin: 25px 0px;
            span{
                font-size: 15px;
                font-weight: 600;
            }
            a{
                background-color: $Dark-Mode-Elements;
                margin: 5px;
                padding: 10px;
                box-shadow: 0px 0px 5px 5px hsl(207, 26%, 13%);
                cursor: pointer; 
            }
        }
    }
    
    
}
