$Dark-Mode-Elements: hsl(209, 23%, 22%);
$Dark-Mode-Background: hsl(207, 26%, 17%);
$Dark-Mode-Text: hsl(0, 0%, 100%);
$Light-Mode-Text: hsl(200, 15%, 8%);
$Light-Mode-Input: hsl(0, 0%, 52%);
$Light-Mode-Background: hsl(0, 0%, 98%);
$Light-Mode-Elements: hsl(0, 0%, 100%);

$font-family: 'Nunito Sans', sans-serif;

.cardsList{
    display: flex;
    margin: 5px 35px; 
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-light{

    background-color: $Light-Mode-Elements;
    &__image{

    }
    &__description{
    }
}

.card-dark{
    margin: 0px 20px 50px 15px;
    background-color: $Dark-Mode-Elements;
    box-shadow:  0px 0px 10px 10px hsl(207, 26%, 13%);
    border-radius: 5px;
     &__image{
        img{
            width: 265px;
            height: 160px;
            object-fit: cover;
            border-radius: 5px 5px 0px 0px;
        }
    }
    &__text{
        p{
            cursor: pointer; 
        }
        &__title{
            font-size: 16px;
            font-weight: 800;
            padding: 15px 15px 5px 20px; 
            margin: 0; 
            word-wrap:break-word;
            display: block;
            width: 230px;

        }
        &__description{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 14px;
            padding: 5px 20px 30px; 
            &__item{
                span{
                    font-weight: 600;
                    
                }
                a{
                    font-weight: 300;
                }
            }
        }
    }
}